*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    background-color: #00a65a;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.row{
    margin-top:45px;
    display: -webkit-flex;
    display: flex;    
}
.column{
    padding:0px;
}

.column.side{
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    background-color: blanchedalmond;
}
.column.middle{
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
    background-color: blue;
}
/*.column.middle{
    -webkit-flex:2;
    -ms-flex:2;
    flex:2;
    background-color: blue;
}*/

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  @media (max-width:600px) {
    .row{
        -webkit-flex-direction:column;
        flex-direction: column;
    }
  }

  /* Nav developed by Ei Myat*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: auto;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 50px;
    text-decoration: none;
  }
  
 
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /* Nav */
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 30;
    width: 100%;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover:not(.active) {
    background-color: #111;
  }
  
  .card{
    margin:10px;
    padding:20px;
    border-radius: 10px;
  }